.banner {
  position: relative;
  display: block;
  align-items: center;
  justify-content: space-between;
  background-color: var(--mantine-color-grayColor-0); /* Фоновый цвет, если картинка не загрузится */
  padding: 60px;
  border-radius: 20px;
  overflow: hidden;
  /* max-width: 1200px; */
  margin: 0 auto;
  margin-top: 20px;
  border: 3px solid;
  border-color: var(--mantine-color-grayColor-3);
}


.bannerText {
transition: all 0.5s ease;
  font-size: 16px;
  line-height: 1.5;
  color: var(--mantine-color-grayColor-9);
  /* margin-bottom: 45px; */
}

.expanded {
  max-height: none;
  opacity: 1;
}

.collapsed {
  max-height: 200px;
  opacity: 0.8;
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}


.bannerButton {
  background-color: #ff5722;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.bannerButton:hover {
  background-color: #e64a19;
}

.bannerImage {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: auto;
  max-width: 50%;
  object-fit: cover;
  z-index: 1;
}

.descShowMore {
  cursor: pointer;
  color: var(--mantine-color-orangeColor-7);
  text-decoration: underline;
  text-decoration-color: var(--mantine-color-orangeColor-7);
}

/* Адаптивность для мобильных устройств */
@media (max-width: 48em) {
  .banner {
    flex-direction: column;
    padding: 30px;
    background-image: none;
  }

  .bannerText {
    text-align: left;
  }

  .bannerTitle {
    font-size: 28px;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .bannerContent {
    max-width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
  }
  
  .bannerImage {
    position: relative;
    max-width: 100%;
    height: auto;
  }

}
