
.text-high {
    color: var(--mantine-color-sberGreenColor-9);
    /* text-decoration: underline; */
    text-decoration-color:  var(--mantine-color-sberGreenColor-9);
    margin-right: 5px;
    margin-left: 5px;
}
.headingInfo { 
    font-weight: 600;
    color: var(--mantine-color-grayColor-8);
    font-size: 14px;
    margin-bottom: 8px;
}

.leftSection  { 
    width: 60%; 
    @media (max-width: 74em) {
        width: 100%; 
    }
}

.navbar {
  display: grid;
  grid-template-columns: auto; /* Первый блок — 10%, второй — 90% */
  width: 100%; 
  /* gap: 10px; */
  border-radius: 20px;
  /* background-color: var(); */
  /* background-color: rgb(155, 155, 34); */
  background-color: var(--mantine-color-grayColor-0);
  padding: 16px;
  /* z-index: 11150; */
  /* border-radius: 20px; */
  /* color: white; */

  /* transition: transform 0.3s ease-in-out;
  transform: translateX(0); */

  @media (max-width: 64em){
    min-width: 260px;
    /* background-color: rgb(82, 82, 182); */
    /* display: none; */

    /* transform: translateX(-100); */
  } 
}
