/* Banner.module.css */
.container {
    position: relative;
    /* max-width: 1200px; */
    margin: 2rem auto;
  }
  
  .mainCard {
    background: var(--mantine-color-grayColor-0);
    border-radius: 16px;
    position: relative;
    overflow: hidden; /* Скрываем выступающие части зеленой полосы */
    padding-bottom: 40px;
    padding-top: 40px

  }
  
  .title {
    font-size: 2.5rem;
    color: var(--mantine-color-grayColor-9);
    padding: 2rem 2rem 1.5rem; /* Отступы только для заголовка */
    margin: 0;
    font-weight: 500;
  }
  
  .greenBar {
    background: var(--mantine-color-sutkiGreenColor-4);
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 50px;
  }
  
  .subtitle {
    color: var(--mantine-color-grayColor-0);
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
  }

  .bottomSection {
    position: relative;
    height: 100px;
  }
  
  .squaresWrapper {
    position: absolute;
    top: 150px;
    right: 2.5rem;
    /* top: calc(100% + 20px);  */
    display: flex;
    gap: 1rem;
  }
  
  .square {
    width: 160px;
    height: 160px;
    background: #F9F9F9;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .squareContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    width: 100%;
    height: 100%;
  }

  .list {
    display: none;
    margin-top: 16px;
      margin-bottom: 16px;
      text-align: center;
      justify-items: center;
      font-size: medium;
      font-weight: 500;
      color: var(--mantine-color-sutkiGreenColor-9);
    @media (max-width: 48em) {
      display: flex;
      flex-direction: column;
    }
    @media (max-width: 30em) {
      font-size: small;
      font-weight: 500;
    }
  }
  
  .squareNumber {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--mantine-color-grayColor-7);
    margin-bottom: 0.5rem;
    line-height: 1;
  }
  
  .squareText {
    font-size: 1.1rem;
    font-weight: 400;
    color: #636e72;
    line-height: 1;
  }
  
  @media (max-width: 64em) {
    
    .title {
      font-size: 2rem;
      padding: 1.5rem 1.5rem 1rem;
    }
    
    .subtitle {
      font-size: 1rem;
    }
    
    .squaresWrapper {
      position: relative;
      bottom: 50px;
      /* left: 10rem; */
      top: -50px; 
      right: 0px;
    }
    
  }

  @media (max-width: 48em) {
    
    .squaresWrapper {
     display: none;
    }
    .subtitle {
      justify-content: flex-start;
      text-align: center;
      font-size: 0.9rem;
    }
    .greenBar { 
      /* padding-left: 0px; */
      padding: 14px;
    }
    
  }