# Файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Файлы venv
.venv/

# Файлы IDE
.idea/

# Докер
Dockerfile
docker-compose.yml
.dockerignore

# Git
.git

# Old frontend
frontend-old

# postgresql
backend/postgresql
