# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Venv
.venv

# Other
backend
old-version/
old-version/frontend-old
pg_hba.conf
postgresql
old-version/docker-compose-main.yml

# Logs
.log
parser_log.log
web_log.log

# Файлы IDE
.idea/
.vs/