services:
  parser:
    build:
      context: .
      dockerfile: Dockerfile.parser
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./logs:/app/logs
    restart: unless-stopped

  web:
    build:
      context: .
      dockerfile: Dockerfile.web
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./logs:/app/logs
    restart: unless-stopped

  db:
    image: postgres:16-alpine
    restart: unless-stopped
    environment:
      POSTGRES_DB: sutki
      POSTGRES_USER: maks
      POSTGRES_PASSWORD: maks123
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U maks -d sutki" ]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  frontend:
    build: ./frontend
    depends_on:
      - web

  nginx:
    image: nginx:alpine
    ports:
      - "8080:80"
    #  - "443:443"
    depends_on:
      - web
      - frontend
    volumes:
      - ./nginx/nginx.local.conf:/etc/nginx/nginx.conf
    #  - ./backend/media:/var/www/media
    #  - ./backend/staticfiles:/var/www/staticfiles
    #  - /etc/letsencrypt:/etc/letsencrypt:ro

volumes:
  postgres_data: