
.text-high {
    color: var(--mantine-color-sberGreenColor-9);
    /* text-decoration: underline; */
    text-decoration-color:  var(--mantine-color-sberGreenColor-9);
    margin-right: 5px;
    margin-left: 5px;
}
.headingInfo { 
    font-weight: 600;
    color: var(--mantine-color-grayColor-8);
    font-size: 14px;
    margin-bottom: 8px;
}

.banner {
  z-index: 0;
  display: block;
  align-items: center;
  justify-content: space-between;
  background-color: var(--mantine-color-grayColor-0); /* Фоновый цвет, если картинка не загрузится */
  padding: 40px;
  border-radius: 20px;
  overflow: hidden;
  /* max-width: 1200px; */
  /* margin: 0 auto; */
  margin: 20px;
  border: 3px solid;
  border-color: var(--mantine-color-grayColor-3);

   @media (max-width: 30em) or (max-width: 74em){
    padding: 16px;
    } 
}