
.tab {
    /* padding: 10px 20px; */
    cursor: pointer;
    border: none;
    background: none;
    font-size: 12px;
    /* color: var(--mantine-color-grayColor-9); */
    position: relative;
    transition: color 0.3s ease;
  
    &:hover {
        color: var(--mantine-color-orangeColor-5);
        --color-partner: var(--mantine-color-orangeColor-5);
        --color-phone: var(--mantine-color-orangeColor-5);
        --color-plus: var(--mantine-color-orangeColor-5);
    }
  
    &::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 2px;
        transform: scaleX(0);
        background-color: var(--mantine-color-grayColor-9);
        transition: width 0.3s ease;
    }
/* 
    @media (max-width: 768px) {
        font-size: var(--mantine-font-size-xs); ;
      } */
  }
  
  .tab.active::after {
    transform: scaleX(1);
  }

