.like {
    align-items: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: #0003;
    border: none;
    border-radius: 50%;
    display: flex;
    height: 34px;
    justify-content: center;
    padding: 0;
    transition: background-color .3s;
    width: 34px;
    left: 16px;
    position: absolute;
    top: 16px;
    z-index: 10;
    cursor: pointer; 
}


.like_svg {
    height: 18px;
    transition: .18s;
    width: 18px;
    --color-like: var(--mantine-color-grayColor-2);

}

.like_svg:active { 
    transform: scale(0.7);
     --color-like: var(--mantine-color-orangeColor-5);
}

.like_svg_liked {
     height: 18px;
    transition: .18s;
    width: 18px;
    --color-like: var(--mantine-color-orangeColor-4);
}


.like_svg_liked:active { 
    transform: scale(0.7);
     --color-like: var(--mantine-color-orangeColor-5);
}