
.text-high {
    color: var(--mantine-color-sberGreenColor-9);
    /* text-decoration: underline; */
    text-decoration-color:  var(--mantine-color-sberGreenColor-9);
    margin-right: 5px;
    margin-left: 5px;
}
.headingInfo { 
    font-weight: 600;
    color: var(--mantine-color-grayColor-8);
    font-size: 14px;
    margin-bottom: 8px;
}

.pageLayout {
    /* font-size: "16px"; */
    display: grid; 
    grid-template-columns: auto auto;
    gap: 35px;
    padding: 12px;
}

.textArea { 
    grid-column: 1 / 3;
}

.button {
    grid-row: 4;
    grid-column: 1 / 3;
    width: 100%;
    /* gap: 10px; */
    /* max-width: 320px; */
    /* justify-self: end; */
}
