  .buttonControl {
    border-radius: 40px;
    font-size: 30px;
    border: none; 
    padding: 5px 10px 10px 10px;
    /* padding: 0; */
    font-weight: 300;
    width: 45px;
    transition: ease-in-out 0.3;
  }
