
.address { 
    font-size: var(--mantine-font-size-sm);
    color: var(--mantine-color-grayColor-4);
    /* background-color: brown;
    color: blue; */
}


.shortName { 
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 600;
  line-height: 1.2
}
.characteristics { 
    font-size: var(--mantine-font-size-sm);
  }


  .title { 
    font-size: var(--mantine-font-size-md);
    font-weight: 600;
  }

.metro { 
    font-size: var(--mantine-font-size-sm);
  }

.customOverlay {
  position: absolute; /* или fixed */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(

    rgba(0, 0, 0, 0) 0%,    /* Полная прозрачность вверху */
    rgba(0, 0, 0, 0.55) 100% /* Непрозрачный черный внизу */
  );
  opacity: 0.85;
  pointer-events: none;
}
