.card {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-size: cover;
    background-position: center;
      .customOverlay { border-radius: 5px !important; }
  }

  .backgroundImage {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: brightness(50%);
  z-index: 0;
}
  
  .title {
    position: relative;
    font-weight: 700;
    color: var(--mantine-color-grayColor-0);
    line-height: 1.2;
    font-size: 26px;
    margin-top: var(--mantine-spacing-xs);
    cursor: default;
    max-width: 400px;
    @media (max-width: 30em) {
      font-size: 20px;
    }
  }

  .customOverlay {
    position: absolute; 
    top: 0;
  
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(145deg, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0) 100%);
    opacity: 0.85;
    pointer-events: none; 
  }

.desc {
    margin-top: var(--mantine-spacing-sm);
    /* font-weight: 900; */
    position: relative;
    color: var(--mantine-color-grayColor-0);
    line-height: 1.2;
    font-size: 16px;
    /* margin-top: var(--mantine-spacing-xs); */
    cursor: default;
  }
  
  .category {
    color: var(--mantine-color-grayColor-0);
    opacity: 0.7;
    font-weight: 700;
    text-transform: uppercase;
    cursor: default;
  }