.banner {
  z-index: 99999;
  position: fixed;
  bottom: 0;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  align-items: center;
  background-color: rgba(248, 249, 250, 0.9);
    /* opacity: 0.5;Фоновый цвет, если картинка не загрузится */
  padding: 25px;
  border-radius: 10px;
  overflow: hidden;
  /* max-width: 1200px; */
  margin: 0 auto;
  margin-top: 20px;
  /* max-width: 400px; */
  display: grid;
  grid-template-columns: minmax(100px, 400px) auto;
}

.bannerContent {
  display: block;
  color: var(--mantine-color-grayColor-9);
}

.bannerContent a {
  text-decoration: underline;
}


.bannerTitle {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  color: var(--mantine-color-grayColor-9);
}

.bannerText {
  font-size: 16px;
  line-height: 1.5;
  color: var(--mantine-color-sberGreenColor-9);
  margin-bottom: 45px;
}

.bannerButton {
  background-color: #ff5722;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.bannerButton:hover {
  background-color: #e64a19;
}

.bannerImage {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: auto;
  max-width: 50%;
  object-fit: cover;
  z-index: 1;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 48em) {
  .banner {
    flex-direction: column;
    padding: 20px;
    background-image: none;
    display: block;
  }
}