
.text-high {
    color: var(--mantine-color-sberGreenColor-9);
    /* text-decoration: underline; */
    text-decoration-color:  var(--mantine-color-sberGreenColor-9);
    margin-right: 5px;
    margin-left: 5px;
}
.headingInfo { 
    font-weight: 600;
    color: var(--mantine-color-grayColor-8);
    font-size: 14px;
    margin-bottom: 8px;
}


.more { 
    text-decoration: underline; 
    cursor: pointer;
    font-weight: 500;
    background-color: var(--mantine-color-grayColor-0);
}

.invList {
  list-style: none;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  gap: 15px;

@media (max-width: 74em) {
    grid-template-columns: repeat(2, minmax(auto, 1fr));
  }
  @media (max-width: 30em) {
    grid-template-columns: minmax(auto, 1fr);
  }
}

.bulletItem {
    /* display: flex; */
    /* align-items: flex-start; */
    /* height: 110px; */
    margin-bottom: 25px;
    background: white;
    border: solid 1px; 
    border-color: var(--mantine-color-grayColor-6);
    border-radius: 10px;
    padding: 11px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
.bulletContent {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    color: var(--mantine-color-grayColor-8);
    font-weight: 500;
    height: 100%;
    width: 100%;
    justify-content: center;
}

