.textHigh {
  position: absolute;
  bottom: 0;
  color: var(--mantine-color-grayColor-0);
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin: 50px;
}

.papercardItem {
  padding-top: 16px;
  border-radius: 20px;
  font-size: 16px;
  text-align: justify;
}

.customOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.85;
  pointer-events: none;
}

.carouselImages {
  height: 400px;
  width: 600px;
  object-fit: cover;
  display: block;
}

.banner {
  position: relative;
  display: block;
  background-color: white;
  padding: 60px;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: -28px;
  border: 3px solid var(--mantine-color-grayColor-3);
}

.bannerImage {
  position: relative;
  display: block;
  background-color: var(--mantine-color-grayColor-0);
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 1000px;
  height: 450px;
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  z-index: 100;
}

.bannerBorder {
  position: absolute;
  width: 100%;
  height: 90%;
  margin-top: 20px;
  background-color: transparent;
  overflow: hidden;
  border-width: 3px 0px 3px;
  border-style: solid;
  border-color: var(--mantine-color-grayColor-0);
}

@media (max-width: 48em) {
  .banner { background-image: none; }
  .textHigh { font-size: 24px; margin: 30px; }
}

@media (max-width: 30em) {
  .banner { padding: 20px; margin-top: 10px; }
  .textHigh { font-size: 20px; margin: 30px; }
  .customOverlay { background: linear-gradient(0deg, rgba(0, 0, 0, 0.65) 70%, rgba(0, 0, 0, 0) 100%); }
}




