

.pageLayout { 
  display: flex;
  flex-direction: column;
  width: 100%; 
  position: relative;
  align-items: center;
}

.metroButton {
  transition: all 0.3s ease;
  font-size: var(--mantine-font-size-sm);
  border-radius: 40px;
  border: solid 1px;
  /* background-color: var(--mantine-color-grayColor-0); */
  color: var(--mantine-color-grayColor-9);
  border-color: var(--mantine-color-grayColor-5);
}



.paper {
  display: flex;
  flex-direction: column;
  top: 10px;
  width: 90%;
  position: absolute;
  border-top: solid 1px;
  border-color: var(--mantine-color-grayColor-9);
  box-shadow: 0px 5px 3px var(--mantine-color-grayColor-3);
  border-radius: 0px;
  background-color: var(--mantine-color-grayColor-0);
  @media (max-width: 64em){
    position: relative;
  } 
}

.grayArea {
  background-color: var(--mantine-color-grayColor-5);
  width: 100%; 
  height: 20px;
  border-radius: 20px;
}

.HeadingStyle3 {
  margin: 0;
  font-weight: 400;
  color: var(--mantine-color-grayColor-9)
}

.HeadingStyle3Cost {
  margin: 0;
  font-weight: 700;
  color: var(--mantine-color-grayColor-9)

}


.grayBlock {
  color: var(--mantine-color-grayColor-9);
  background-color: var(--mantine-color-grayColor-1);
  padding: 7px;
  font-size: var(--mantine-font-size-sm);
}

.xsText{
  margin-top: 5px;
  color: var(--mantine-color-grayColor-5);
  font-size: var(--mantine-font-size-xs);
}

.redText{
  margin-top: 5px;
  color: var(--mantine-color-red-7);
  font-size: var(--mantine-font-size-xs);
}

.textHigh {
  color: var(--mantine-color-sberGreenColor-9);
  text-decoration: underline;
  text-decoration-color:  var(--mantine-color-sberGreenColor-9);
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
}